<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/static/css/result.css">
   </head>
   <body>
      {% if  enrollment != None and enrollment|length > 0 %}
        <div class="h3 text-center"> Your course: </div>
        {% for value in enrollment %}
            <div class="card text-center">
                <div class="card-header">
                {% if value[-1]|string != "nan nan" %}
                    {{value[4] + " ~ " + value[5] + " " + value[-2]}}
                {% else %}
                    {{ value[4] + " ~ " + value[5] }}
                {% endif %}
                </div>
                <div class="card-body">
                <h4 class="card-title">
                    {% if value[12]|string == "nan" %}
                        {{value[0] + " " + value[1]|string + " -- " + value[2]}}
                    {% else %}
                        {{value[0] + " " + value[1]|string + ":" + value[3] + " -- " + value[2]}}
                    {% endif %}
                </h4>
                <form action="/drop" method="POST">
                    <button name="dropBtn" class="btn btn-primary" type="submit hidden" class="btn btn-outline-primary" value="{{value[-1]|string}}" >Drop</button>
                 </from>
                <!-- <form action="/enroll" method="POST">
                    <button name="enrollBtn" class="btn btn-primary" type="submit hidden" class="btn btn-outline-primary" value="{{value[0]|string}}" >Enroll</button>
                </from> -->
                </div>
            </div>
        {% endfor %}
      {% elif enrollment != None and enrollment|length == 0 %}
               <p class="h2 text-center"> You haven't enrolled in any courses yet </p>
      {% endif %}
   </body>
</html>