<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>login page</title>
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
  <style>
    html, body {
      background:#919191;
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body>
  <div class="center">
    <div class="rcorner">
      <div class="word">
        <b>Login</b>
      </div>
      <div>
        <input id="NetId" class="inputNetId" type="text" placeholder="NetId">
      </div>
      <div>
        <input id="Password" class="inputPassword" type="password" placeholder="Password">
      </div>
      <div>
        <button id="btn" class="btn" disabled>login</button>
      </div>
    </div>
  </div>

</body>

<script src="/static/js/login.js"></script>

</html>